  <!-- 日記一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @diaries.present? %>
          <% @diaries.each do |diary| %>
            <div class="col-sm-12 col-lg-4 mb-3">
              <div id="diary-id-<%= diary.id %>">
                <div class="card">
                    <div class="d-flex">
                      <h4 class="card-title">
                        <%= link_to diary.title, '#' %>
                      </h4>
                      <div class='ms-auto'>
                        <%= link_to '#', id: 'button-edit-#{diary.id}' do %>
                          <i class="bi bi-pencil-fill"></i>
                        <% end %>
                        <%= link_to '#', id: 'button-delete-#{diary.id}', method: :delete, data: {confirm: ''} do %>
                          <i class="bi bi-trash-fill"></i>
                        <% end %>
                      </div>
                    </div>
                    <ul class="list-inline">
                      <li><i class="bi bi-calendar"></i><%= l diary.created_at, format: :short %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="mb-3">日記がありません</div>
        <% end %>
      </div>
    </div>
  </div>
<div class="button001">
  <a href="<%= new_diary_path %>">日記を書く</a>
</div>